<template name= "draw">
  <div class="spaceCont">

  <div class= "copy jumbotron">
So what we have done is create new unit called the  {{unitName}}.<br/>
if we scale down the solar system so the distance to the moon is 1 {{unitName}}
then we can look at the size of the earth and the moon on that scale too.
  </div>
<div class="results jumbotron">
The earth on the {{unitName}} scale is {{newEarth}} {{getUnitType}}<br/>
The moon on the {{unitName}} scale is {{newMoon}} {{getUnitType}}
</div>
<div class="spaceView">
</div>

</div>
</template>
