<template name = "input">
  INPUT
  <form class="form-input" action="/draw" >
       <input  name="metricInput" id="metIn" type="text" value="" placeholder="add your height like this  - 1.75 " class="form-control"/>
       <input  type="submit" value="Submit" class="btn btn-primary"/>

       <input  name="imperialInput" id="impIn" type="text" value="" placeholder="add your height like this  - 5, 7 " class="form-control"/>
       <input  type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
