<template name ="partners ">

  <div class="splashCont">
    <div class = "headSpacer">
    </div>
  <div class="splashBox1  donnytron">

    <div class=" headerText lightbox2 donnytron">
      <div class="fBox">
        <div class="fItem"></div>
        <div class="headSpace fItem" >Playable Data for Human Health</div>
        <div class="logo fic-logo"><a href="http://freeicecream.co.uk" target="_blank"><img src="img/FIC-transparent-500-358-no-margin.png" alt="logo" height="80px" ></a></div>
      </div>
      </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class=" firstBox2  donnytron ">
    <div class="simpleText lightbox8 donnytron">
        <!-- <div class = "splashBox2 "> -->
          <!-- <div class= "logo transparentLabel smallcopy">This project has been a partnershop between Free ice Cream, The MRC and The University of Bristol. With support from the Jean Golding institute and The Welcome trust.</div> -->
          <p><span class="transparentLabel">Researchers from the MRC Integrative Epidemiology Unit at the University of Bristol are doing pioneering work building a causal network of human health, drawn from global data with millions of participants.</span></p>
          <p><span class="transparentLabel"> Free Ice Cream are leading designers in playable complexity. </span></p>
          <p><span class="transparentLabel">Together we have created a playable social experience to explore this causal network, discovering possible medical or policy interventions to fight disease.</span></p>
          <p><span class="transparentLabel"> Thanks to the Jean Golding Institute for their support of this project.</span></p>
          <p><span class="transparentLabel"> Thanks to the Welcome Trust for their support in the creation of the data set.</span></p>
        <!-- </div> -->


    </div>
  </div>
  <div class=" firstBox2  donnytron ">
    <div class="mainText lightbox6 donnytron">
        <div class = "logoBoxOuter ">
          <!-- <div class= "logo transparentLabel smallcopy">This project has been a partnershop between Free ice Cream, The MRC and The University of Bristol. With support from the Jean Golding institute and The Welcome trust.</div> -->


          <div class="logo"><img src="img/mrc-logo2.png" alt="logo" height="80px" ></div>
          <div class="logo"><img src="img/UniversityofBristol-Logo1.png" alt="logo" height="80px" ></div>
          <div class="logo"><img src="img/jgi-logo1.jpg" alt="logo" height="80px" ></div>
          <div class="logo"><img src="img/WelcomeTrust-logo1.png" alt="logo" height="80px" ></div>
          <div class="logo4"><br/></div>
        </div>


    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class="splashBox3 donnytron">
    <div class=" lightbox2 donnytron">
    <button  class= "startBtn btn start" type="button" >Start</button>

  </div>
  </div>
</div>
</template>
