<template name = "policies">


  <div class="policyCont">
    <div class = "headSpacer">
    </div>
    <div class = "policyList polSpace">
      <div class = "sliderCopy">
      <h3> Use the sliders to add funds to the listed policies</h3>
      <ul>
        {{#each policy}}
          {{>pol}}
        {{/each}}
      </ul>
    </div>
    </div>


  </div>


</template>

<template name="pol">
  <div class ="polwrap">
  <li>{{name}}</li>

  <fieldset>
    <label for="volume">Funding level</label>
    <!-- <input type="range" id="start" name="volume" min="0" max="11" /> -->
    <input id="{{id}}" type="range" min="0" max="{{maxFund}}" value="0" step="{{slideStep}}"  onchange="{{setFund}}"/>
     <!-- onchange="showValue(this.value); changeScrollBar(this.value);" -->
  </fieldset>
</div>
</template>
