<template name ="splashPage ">

  <div class="splashCont">
    <div class = "headSpacer">
    </div>
  <div class="splashBox1  donnytron">

    <div class=" headerText lightbox2 donnytron">
      <div class="fBox">
        <div class="fItem"></div>
        <div class="headSpace fItem" >Big Data for Human Health</div>
        <div class="logo"><a href="http://freeicecream.co.uk" target="_blank"><img src="img/FIC-transparent-500-358-no-margin.png" alt="logo" height="80px" ></a></div>
      </div>
      </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class=" splashBox2  donnytron">
    <div class="mainText lightbox1 donnytron">
        <p><span class="transparentLabel">We can add some text in here</span></p>
        <p><span class="transparentLabel">just a bit of an intro about theproject.</span></p>
          <p><span class="transparentLabel"><br/>
          <strong> Click start and add your name to join the game</strong></span></p>
          <span class="transparentLabel">Happy sliding!</span>


    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class="splashBox3 donnytron">
    <div class=" lightbox2 donnytron">
    <button  class= "startBtn btn start" type="button" >Start</button>
    <button  class= "startBtn btn partners" type="button" >Partners</button>
  </div>
  </div>
</div>
</template>
