<template name ="splashPage ">

  <div class="splashCont">
    <div class = "headSpacer">
    </div>
  <div class="splashBox1  donnytron">
    <div class=" headerText lightbox2 donnytron">
      <div class="headSpace" >Tinsel</div>
    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class=" splashBox2  donnytron">
    <div class="mainText lightbox1 donnytron">
      Lots of people worrie about the impact of plastics at xmas. But sometimes the numbers involved can be baffeling.<br/>
      Here is a tiny calibration to help you to really worry about impact.
    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class="splashBox3 donnytron">
    <div class=" lightbox2 donnytron">
    <button  class= "startBtn btn start" type="button" >Start</button>
  </div>
  </div>
</div>
</template>
