<template name ="splashPage ">

  <div class="splashCont">
    <div class = "headSpacer">
    </div>
  <div class="splashBox1  donnytron">

    <div class=" headerText lightbox2 donnytron">
      <div class="fBox">
        <div class="fItem"></div>
        <div class="headSpace fItem" >Tinsel </div>
        <div class="logo"><a href="http://freeicecream.co.uk" target="_blank"><img src="img/FIC-transparent-500-358-no-margin.png" alt="logo" height="80px" ></a></div>
      </div>
      </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class=" splashBox2  donnytron">
    <div class="mainText lightbox1 donnytron">
        <p><span class="transparentLabel">We all worry about the impact of plastics</span></p>
        <p><span class="transparentLabel">Especially during this festival of bacchanalian over-consumption.
          Yet the numbers involved can be baffling.</span></p>
          <p><span class="transparentLabel">At Free Ice Cream we don’t want you to worry without the true scale of the problem at hand.<br/>
          Use this calibration to help:<strong> with this tool you can be both informed and worried.</strong></span></p>
          <span class="transparentLabel">Happy Christmas!</span>


    </div>
  </div>
  <div class = "headSpacer">
  </div>
  <div class="splashBox3 donnytron">
    <div class=" lightbox2 donnytron">
    <button  class= "startBtn btn start" type="button" >Start</button>
  </div>
  </div>
</div>
</template>
