<template name = "unitName">

<div class="inputCont">
  <div class="headSpacer">
  </div>
  <div class="inputBox1 jumbotron">
    <div class="labelM">
      <span class="blackLabel ">
        Name your unit<br/>
        then add your height.
      </span>
    <form class="unitName" action="/input" >
      <input  name="newUnit"  type="text" value="" placeholder="Unit Name" class="form-control form-pt0"/>
      <input  type="submit" value="Submit" class="sButton cubeButton btn "/>

    </form>
    </div>
  </div>
</div>



</template>
