<template name = "unitName">

<div class="inputCont">
  <div class="headSpacer">
  </div>
  <div class="inputBox1 donnytron">
    <div class="labelM">
      <span class="greenLabel ">
        So lets look at Tinsel<br/>
        We are talking about the calsic shiny plastic tinsel. Silver gold, red It doesnt matter. <br>
        we are just thinking about this littl bit of plastic we adorn our xmas trees with.<br/>
        so How many strings of tinsel to you put on your tree?
      </span>
    <form class="unitName" action="/input" >
      <input id="number" type="number" name="strings" value="" class="form-control form-pt0">
      <!-- <input  name="newUnit"  type="text" value="" placeholder="Unit Name" class="form-control form-pt0"/> -->
      <input  type="submit" value="Submit" class="sButton cubeButton donnytron "/>

    </form>
    </div>
  </div>
</div>



</template>
