<template name = "unitName">

<div class="inputCont">
  <div class="headSpacer">
  </div>
  <div class="inputBox1 donnytron">
    <div class="labelM">
      <div class="inner">
        <p>
        <span class="greenLabel ">
        Let’s take a long hard look at tinsel.  That cheery symbol of childish frivolity, glinting between the branches of your tree.
        </span>
        </p>
        <p>
        <span class="greenLabel ">
        <em>Is nothing sacred?</em>
        </span>
        </p>
        <p>
        <span class="greenLabel ">
        So: How many strings of tinsel do you put on your tree?

      </span>
      </p>
    </div>
    <div class="inner">
    <form class="unitName" action="/input" >

      <input id="number" type="number" name="strings" value="" class="form-control form-pt0">
      <!-- <input  name="newUnit"  type="text" value="" placeholder="Unit Name" class="form-control form-pt0"/> -->
      <input  type="submit" value="Submit" class="sButton cubeButton donnytron "/>

    </form>
  </div>
    </div>
  </div>
</div>



</template>
